<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 글 작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<h2>새 글 작성</h2>

<!-- 새 글 작성 폼 -->
<form th:action="@{/save}" th:object="${board}" method="post">
    <table class="table">
        <tr>
            <td>제목:</td>
            <td><input type="text" th:field="*{title}" placeholder="제목을 입력하세요" required/></td>
        </tr>
        <tr>
            <td>내용:</td>
            <td><textarea th:field="*{content}" placeholder="내용을 입력하세요" required></textarea></td>
        </tr>
        <tr>
            <td>작성자:</td>
            <td><input type="text" th:field="*{writer}" placeholder="작성자를 입력하세요" required/></td>
        </tr>
        <tr>
            <td>작성 날짜:</td>
            <td><input type="text" th:field="*{createdAt}" placeholder="작성일 자동 입력" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" disabled/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <button type="submit">저장</button>
            </td>
        </tr>
    </table>
</form>

<!-- 글 목록 페이지로 돌아가기 -->
<a href="/">목록으로 돌아가기</a>

</body>
</html>
